@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.navbar-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  background-color: transparent;
  padding: 2px 50px;
}
.left-section {
  display: flex;
}
.link { 
  font-size: 15px;
  display: flex;
  text-decoration: none;
  margin: 0 40px;
  align-items: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
}
.right-section {
  display: flex;
  justify-content: end;
  align-items: center;
}
.right-section .link:hover {
  color: #BBBBBB;
  border-radius: 100px;
  transition: 0.3s;
}
#username {
  color: orange;
  font-size: 20px;
  font-weight: bold;
  margin-right: 20px;
}
#logo p {
  font-size: 32px;
  font-style: italic;
  font-weight: bold;
  /* font-family: 'Pacifico', cursive; */
  /* font-family: 'Roboto Condensed', sans-serif; */
  font-family: 'Shadows Into Light', cursive;
}
#logo img{ 
  height: 80px;
  margin-right: 10px;
}
#dot {
  color: orange;
  font-size: 40px;
  font-weight: bold;
}
