:root {
  --secondary-text-color: #F6C839;
  --hover-color: #BBBBBB;
  --background-color: #F3F3F1;
  --secondary-background-color: white;
  --hover-secondary-color: #F8E152;
  --home-header-size: 70vh;
  --restaurant-card-size: 60vh;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

/* body::-webkit-scrollbar-thumb {
  background-color: orange;
  outline: 1px solid slategrey;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
