.home-form-container {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    height: calc(var(--home-header-size) / 2)
}

.home-form {
    padding: 2% 10%;
    width: 70%;
}

.home-form-description {
    text-align: center;
}

.home-form-description h1 {
    color: white;
    font-weight: 300;
    font-size: 3rem;
    margin: 2% 0;
}

.home-form-description h2 {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--secondary-text-color);
}

.home-form-description h3 {
    font-size: 1.5rem;
    font-weight: 300;
    color: white;
    margin: 3%;
}

.home-form-dropdown {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    grid-column-gap: 3%;
    margin: 3%;
}

#dropdown-item-button {
    width: 100%;
    background-color: transparent;
    border: 0.5px solid white;
    border-radius: 100px;
    text-align: start;
    font-size: 1.2rem;
    padding: 0.5rem;
    font-weight: 300;
    backdrop-filter: blur(2px) saturate(100%);
}

#dropdown-item-button:hover {
    border: 0.5px solid var(--secondary-text-color);
}

.home-form-description input {
    width: 55%;
    border: 0.5px solid white;
    padding: 0.5rem;
    border-radius: 100px;
    outline: none;
    background: transparent;
    font-size: 1.2rem;
    color: white;
    font-weight: 300;
    backdrop-filter: blur(2px) saturate(100%);
}

.home-form-description input::placeholder {
    color: white;
    font-size: 1rem;
}

.home-form-button-container {
    margin-top: calc(var(--home-header-size) / 10);
    display: flex;
    justify-content: center;
}

.home-form-button-container button {
    width: 40%;
    border: 0;
    border-radius: 100px;
    background-color: var(--secondary-text-color);
    padding: 0.5rem;
    font-size: 1.2rem;
}

.home-form-button-container button:hover {
    background-color: var(--hover-secondary-color);
}

.home-restaurants-section {
    display: flex;
    justify-content: center;
}