.home-container {
  background-color: var(--background-color)
}

.home-header {
    /* margin: 0 1%; */
    /* background-color: rgb(211, 248, 107); */
    height: var(--home-header-size);
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/XD.jpg");
    background-size: cover;
}

.rest_paragraph {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 4vh;
}