/* Register i Login korzystaja w wiekszosci ze wspolnego css (to samo nazewnictwo klas) */

.login-modal-form, .register-modal-form {
    margin-top: calc(var(--register-login-modal-height) / 25);
}

.form-inner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: calc(var(--register-login-modal-height) / 60);
}

.login-modal-form input, .register-modal-form input {
    width: 80%;
    padding: 2%;
    font-size: 1.2rem;
    border: 0.5px solid gray;
    border-radius: 60px;
    margin-left: 2%;
    outline: none;
}

.login-form-icon, .register-form-icon {
    margin-right: calc(var(--register-login-modal-height) / 30);
    width: calc(var(--register-login-modal-height) / 15);
    height: calc(var(--register-login-modal-height) / 15);
    color: black;
}

.login-form-footer {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.login-form-footer button {
    padding: 1%;
    border: none;
    background-color: var(--secondary-text-color);
    font-size: 1.2rem;
    width: 70%;
    outline: none;
    border-radius: 60px;
}
.login-form-footer button:hover {
    background-color: #facb32;
}