@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.navbar-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  background-color: transparent;
  padding: 2% 8%;
}

.left-section {
  display: flex;
  
}

.navbar-link { 
  font-size: 1rem;
  display: flex;
  text-decoration: none;
  margin: 0 5%;
  align-items: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
  white-space: nowrap;
}

.left-section .navbar-link:hover {
  color: white;
}

.right-section {
  display: flex;
  justify-content: end;
  align-items: center;
}

.right-section .navbar-link:hover {
  color: var(--hover-color);
  border-radius: 100px;
  transition: 0.3s;
}

.right-section p {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 300;
  color: white;
}

#username {
  color: var(--secondary-text-color);
  margin-right: 3%;
  font-weight: bold;
}

.left-section .navbar-link p {
  font-size: 2rem;
  font-style: italic;
  font-weight: bold;
  /* font-family: 'Pacifico', cursive; */
  /* font-family: 'Roboto Condensed', sans-serif; */
  font-family: 'Shadows Into Light', cursive;
  margin: 0;
}

.left-section .navbar-link img{ 
  height: calc(var(--home-header-size) / 11);
  margin-right: 10px;
}

#dot {
  color: orange;
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Shadows Into Light', cursive;
}
