.grid_help{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    
}
.restaurant_description{
    height: 550px;
}
.restaurant_container{
    background-color: rgb(196, 192, 192);
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 1px solid;
    border-radius: 2%;
    margin: 5px;
    margin-top: 30px;
    text-align: center;
    height: 700px;
}
.restaurant_link{
    vertical-align: top;
}