.grid_help{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    
}
.restaurant_description{
    height: 550px;
}
.restaurant_container{
    background-color: rgb(196, 192, 192);
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 1px solid;
    border-radius: 2%;
    margin: 5px;
    margin-top: 10px;
    text-align: center;
    height: 60vh;
}
.restaurant_container:hover{
    box-shadow: 1px 1px 1px 1px;
}
.restaurant_link{
    vertical-align: top;
}